{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}